<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Comic App</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorem iusto a harum cupiditate excepturi quae obcaecati numquam cumque accusantium quisquam, fuga possimus voluptatem. Autem, quisquam? Dolorum sunt similique recusandae?Corrupti
            qui tenetur cum neque temporibus iusto sunt atque, eius alias a voluptatem, sit molestiae eligendi. Vero omnis dicta reiciendis eos, necessitatibus provident explicabo eaque, quia hic quas, ea ex.</p>
    </div>
</div>